# Gitignore created by chatgpt

# Build files
*.o
*.obj
*.lo
*.la
*.al
*.a
*.so
*.dll
*.dylib
*.lib
*.exe
*.out
*.app
*.i
*.ii
*.gch

# Build system folders
/build/
/bin/
/debug/
/release/
/CMakeFiles/
/Makefile
CMakeCache.txt
cmake_install.cmake

# CodeBlocks
*.depend
*.layout
*.cbp
*.layout

# Visual Studio
*.vcxproj*
*.sln
*.pdb
*.idb
*.user
*.ncb
*.opensdf
*.sdf
*.vcxproj.filters

# Qt
*.pro.user*
moc_*
qrc_*
ui_*

# Xcode
*.pbxuser
*.mode1
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.swp
*~
